[data-md-color-scheme="slate"] .timeline-card {
    background-image: linear-gradient(to right, #262626 0%, #292828 100%);
    box-shadow: var(--md-shadow-z2);
}
[data-md-color-scheme="slate"] .timeline-content::before {
    background-color: #262626;
    box-shadow: var(--md-shadow-z2);
}

[data-md-color-scheme="default"] .timeline-card {
    background-image: linear-gradient(120deg, #edebeb 0%, #e8e9ea 100%);
    box-shadow: var(--md-shadow-z2);
}
[data-md-color-scheme="default"] .timeline-content::before {
    background-color: #edebeb;
    box-shadow: var(--md-shadow-z2);
}

.changelog-type-newpage {
    background-color: #75CA97;
}

.changelog-type-newpage::before {
    content: "新增页面";
}

.changelog-type-pageupdate {
    background-color: #e69ba5;
}
.changelog-type-pageupdate::before {
    content: "页面更新";
}

.changelog-type-function {
    background-color: #eac568;
}
.changelog-type-function::before {
    content: "新增功能";
}

.changelog-type-bugfix {
    background-color: #eb1826b0;
}
.changelog-type-bugfix::before {
    content: "bug 修复";
}