@import url('https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC&display=swap');

.ma-shan-zheng {
    font-family: 'Ma Shan Zheng', serif;
}

.noto-serif-sc {
    font-family: 'Noto Serif SC', serif;
    font-feature-settings: 'palt';
}

/* img 通用格式*/
.general-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}
