@import url('https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC&display=swap');

.ma-shan-zheng {
    font-family: 'Ma Shan Zheng', serif;
}

.noto-serif-sc {
    font-family: 'Noto Serif SC', serif;
    font-feature-settings: 'palt';
}

/* changlog 的 css */

@media(prefers-color-scheme: dark) {
    .timeline-content::before {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        transform: rotate(45deg);
        background-color: #BCC5CE;
        left: -10px;
        top: calc(50% - 10px);
        box-shadow: var(--md-shadow-z2);
    }
    .timeline-card {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        /* background: linear-gradient(-180deg, #BCC5CE 0%, #929EAD 98%), radial-gradient(at top left, rgba(255,255,255,0.30) 0%, rgba(0,0,0,0.30) 100%);
        background-blend-mode: screen; */
        background: #C9CCD3;
        background-image: linear-gradient(-180deg, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%);
        background-blend-mode: lighten;
        border-radius: .25rem;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 15px;
        padding-right: 10px;
        box-shadow: var(--md-shadow-z1);
    }
}

.changelog-type-newpage {
    background-color: #4bbe5ce3;
}

.changelog-type-newpage::before {
    content: "新增页面";
}

.changelog-type-pageupdate {
    background-color: #f7a9a9;
}
.changelog-type-pageupdate::before {
    content: "页面更新";
}

.changelog-type-function {
    background-color: #cca819;
}
.changelog-type-function::before {
    content: "功能性更新";
}