@import url('https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC&display=swap');

.ma-shan-zheng {
    font-family: 'Ma Shan Zheng', serif;
    font-display: swap;
}

.noto-serif-sc {
    font-family: 'Noto Serif SC', serif;
    font-feature-settings: 'palt';
    font-display: swap;
}

@font-face {
    font-family: Fang-Zheng-Song;
    src: url("./Fang Zheng Song.TTF")format('truetype');
    font-display: swap;
}

.fang-zheng-song {
    font-family: Fang-Zheng-Song, Noto-Serif-SC, serif
}

@font-face {
    font-family: QiJi-Combo;
    src: url("./qiji-combo.ttf")format('truetype');
    font-display: swap;
}

.qiji-combo {
    font-family: QiJi-Combo, Noto-Serif-SC, serif
}

/* img 通用格式*/
.general-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.md-typeset h1,
.md-typeset h2 {
    font-weight: 500;
}

.md-typeset h3 {
    font-weight: 400;
}

.md-typeset h1,
.md-typeset h2,
.md-typeset h3,
.md-typeset h4 {
    letter-spacing: 0;
}

.md-tabs__link--active,
.md-tabs__link:is(:focus, :hover) {
    color: inherit;
    opacity: 0.8;
}

.md-typeset details:not([open]) {
    box-shadow: var(--md-shadow-z2);
    padding-bottom: 0;
}

.md-typeset img,
.md-typeset video {
    box-shadow: var(--md-shadow-z1);
    border-radius: 2px;
}

/* .md-typeset div.arithmatex {
    overflow-y: hidden;
} */

.md-typeset :is(.emojione, .twemoji, .gemoji) {
    vertical-align: sub;
}